services:
  reels_pro:
    container_name: reels_pro
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx-prod/nginx-prod.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - reels_pro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
